h2{color:green; font-size:1.5em;}
section#container{
    width:100%;
}
#left{
    float:left;
    width:100%;
    line-height:100px;
    /* display:none; */
}
section#main{
    float:left;
    width:100%;
    line-height:200px;
    margin-left: 0px;
}
#right{
    float:left;
    width:100%;
    line-height:100px;
    margin-left:0;
    /* display:none; */
}